apiVersion: v1
kind: Service
metadata:
  name: cart
  namespace: cosmic-coffee
  labels:
    app: cart
    component: cart
spec:
  type: ClusterIP
  ports:
  - port: 3003
    targetPort: 3003
    protocol: TCP
    name: http
  selector:
    app: cart

